extends base.pug

block content
  .card.my-5
    .card-body
      .d-flex.flex-column.align-items-end
        a.btn.icon-btn(href="/editProfile")
          i.fa.fa-pencil
      .container.d-flex.flex-column.align-items-center

        img.profile-img(src=`https://www.gravatar.com/avatar/${hashProfile(user.email)}?s=200&d=mp`)
        h1.my-4 #{user.name}

        .my-4(style={"font-size": "1.2em"})
          .my-4
            strong Directory ID:
            p.ml-3 #{user.uid}

          .my-4
            strong Email:
            
            .ml-3
              if user.email
                if user.isEmailVerified
                  .d-flex.align-items-center
                    i.fa.fa-check.mr-3
                    span #{user.email}
                else
                  p.mr-3 #{user.email}
                  form.my-3(action="/verifyEmail", method="GET")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    .form-group
                      input.form-control.mr-3(type='text' name='code' placeholder="Enter code" autocomplete="off")
                    .text-right
                      input.btn.btn-primary.mr-3(type='submit' value='Verify')
                  form.my-3(action="/resendEmail", method="POST")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    .text-right
                      input.btn.btn-primary.mr-3(type='submit' value='Resend Code')
              else
                em No email provided
          
          .my-4
            strong Phone:
            
            .ml-3
              if user.phone
                if user.isPhoneVerified
                  .d-flex.align-items-center
                    i.fa.fa-check.mr-3
                    span #{user.phone}
                else
                  p.mr-3 #{user.phone}
                  form.my-3(action="/verifyPhone", method="GET")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    .form-group
                      input.form-control.mr-3(type='text' name='code' placeholder="Enter code" autocomplete="off")
                    .text-right
                      input.btn.btn-primary.mr-3(type='submit' value='Verify')
                  form.my-3(action="/resendPhone", method="POST")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    .text-right
                      input.btn.btn-primary.mr-3(type='submit' value='Resend Code')
              else
                em No phone provided
        
        form.my-3(action="/deleteProfile", method="POST", onsubmit="return confirm('Are you sure you want to delete your account?');")
          input(type="hidden", name="_csrf", value=csrfToken)
          .text-right
            input.btn.btn-danger(type='submit' value='Delete Account')